body {
  margin: 25px;
}
/* container for the navigations*/

.container {
  width: 1114px;
  margin: 0 autobnbn;
}

/* navigations / ul*/
.nav {
  display: inline-block;
  list-style-type: none;
}
.nav li {
  display: inline-block;
  margin-left: 15px;
}
.nav li a {
  display: inline-block;
  color: #2f281e;
  text-align: center;
  text-decoration: none;
}

/* superpowers */
.spr {
  display: inline-block;

  width: 605px;
  height: 496px;
}

/* left side/ sidebar */
.left {
  display: inline-block;

  width: 518px;
  height: 331px;
}

.left h1 {
  width: 518px;
  height: 108px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
}

.inleft {
  width: 518px;
  height: 233px;
}

.inleft p {
  width: 458px;
  height: 95px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  color: #544837;
}

.feature {
  width: 2211px;
  height: 543px;
}
.feature h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #2f281e;
}

.card {
  width: 1095px;
  height: 204px;
}

.cardelement {
  display: inline-block;
  width: 224px;
  height: 192px;
  margin-right: 41px;
}

.cardelement:last-child {
  margin-right: 0;
}

.cardelement p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  color: #544837;
}

.cardelement h3 {
  height: 33px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */

  color: #2f281e;
}

.ptn {
  text-align: center;
}
.ptnin {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  display: inline-block;
  margin-left: 15px;
  background-color: #ff9900;
  border-radius: 4px;
  color: #ffffff;

  border: 1px solid #ff9900;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  height: 60px;
  width: 150px;
}

.effort {
  width: 1110px;
  height: 574px;
}
.effort div {
  width: 520px;
  height: 512px;
  float: right;
}
.effort h3 {
  height: 54px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  color: #2f281e;
}
.effort p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #544837;
}

/* 05 Product Managers */
.productmgr {
  width: 1110px;
  height: 574px;
}
.productmgr div {
  width: 520px;
  height: 512px;
  float: right;
}
.proimg {
  float: right;
  margin: 15px;
}
.productmgr h3 {
  height: 54px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  color: #2f281e;
}
.productmgr p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #544837;
}
.productmgr ul {
  background-color: #fff;
  color: #000;
  margin: 0 auto;
}
.productmgr ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}

/* marketers*/
.marketers {
  width: 1110px;
  height: 574px;
}
.marketers div {
  width: 520px;
  height: 512px;
  float: right;
}
.marketers h3 {
  height: 54px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */

  color: #2f281e;
}
.marketers p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #544837;
}

footer {
  width: 1109px;
  height: 308px;
  margin-top: 50px;
  border: #000 solid 1px;
}

.submit {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  display: inline-block;
  margin-left: 15px;
  background-color: #ff9900;
  border-radius: 4px;
  color: #ffffff;

  border: 1px solid #ff9900;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

/* sign in button*/
.signin {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  display: inline-block;
  margin-left: 15px;
  background-color: #ffffff;
  color: #173a56;
  border-radius: 4px;

  border: 1px solid #bcd0e5;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

/* sign up button*/
.signup {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  display: inline-block;
  margin-left: 15px;
  background-color: #ff9900;
  border-radius: 4px;
  color: #ffffff;

  border: 1px solid #ff9900;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

.gets {
  display: inline-block;
  margin-left: 5px;
  background-color: #ff9900;
  color: white;

  border: 1px solid #ff9900;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  cursor: pointer;
}

.shift {
  margin-left: 15px;
}

.clr {
  color: #ff9900;
}
